.DS_Store
DerivedData/
CapodimonteTreasureHunt.xcodeproj/project.xcworkspace/xcuserdata/afpfed02.xcuserdatad/UserInterfaceState.xcuserstate
CapodimonteTreasureHunt.xcodeproj/xcuserdata/afpfed02.xcuserdatad/xcschemes/xcschememanagement.plist
